<title>All Check In's</title>
<style>
  .center_stuff {
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
  }

  .hidden_div {
  	visibility: hidden;
  }

  .element {
  	margin: 0 auto;
  	margin-top: 10px;
  }

  td {
    padding: 5px;
  }

</style>
<table class="center_stuff" border="1">
  {% for u in checkins %}
  <tr>
    <td>{{ u.id }}</td>
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.location }}</td>
    <td>{{ u.time.time() }}</td>
  </tr>
  {% endfor %}
</table>