<title>Lightning Check In!</title>
<style>
  .center_stuff {
    margin: 0 auto;
    margin-top: 20%;
    width: 50%;
    text-align: center;
  }

  .hidden_div {
  	visibility: hidden;
  }

  .element {
  	margin: 0 auto;
  	margin-top: 10px;
  }

</style>
<div class="g-signin2" data-onsuccess="onSignIn" style="width: 120px; margin: 0 auto;"></div>
<div class="center_stuff">
	<div id="info" class="hidden_div">
		<div id="name"></div>
		<div id="email"></div>
	</div>
	<div class="element abcRioButton abcRioButtonLightBlue" style="height:36px;width:120px;">
		<span href="#" style="font-size:13px;line-height:34px;" onclick="signOut();" class="abcRioButtonContentWrapper">Sign out</span>
	</div>
    <div class="element" id="checkIn">Not Set</div>
    <div class="element abcRioButton abcRioButtonLightBlue" style="height:36px;width:120px;">
    	<span onclick="findSelf()" class="abcRioButtonContentWrapper" style="font-size:13px;line-height:34px;">Find Location</span>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="22643870492-3k4q6eqkdunpp447em29su6e7b7te235.apps.googleusercontent.com">
<script>

  	var prof_id = null;
  	var email_temp = false;

	function findSelf() {
		if (prof_id != null && email_temp) {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
				    var pos = {
				      lat: position.coords.latitude,
				      lng: position.coords.longitude
				    };
		
				    var xhr = new XMLHttpRequest();
				    xhr.open('GET', "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + pos.lat + "," + pos.lng + "&key=AIzaSyBljiCLSI42QdZibI2_ykXHHLsP3e5oE74", true);
				    xhr.send();

				    xhr.onreadystatechange = processRequest;
				     
				    function processRequest(e) {
				    	if (xhr.status == 200 && xhr.readyState == 4) {
					        var response = JSON.parse(xhr.responseText);
					        var loc = response["results"][0]["formatted_address"];
					        document.getElementById('checkIn').innerText = loc;
			
					        var data = {
					        	'location': loc,
					        	'idtoken': prof_id
					        };
			
					        $.ajax({
							    type : "POST",
							    url : "../checkin",
							    data: JSON.stringify(data, null, '\t'),
							    contentType: 'application/json;charset=UTF-8',
							    success: function(result) {
							        document.getElementById("checkIn").innerText = "Sent " + loc;
							        console.log("Sent!");
							    },
							    complete: function(response) {
							    	console.log(response.responseText);
							    }
							});
				    	}
				    }
				}, function() {
				    handleLocationError(true);
				});
			} else {
			  handleLocationError(false);
			}
		} else {
			alert("Please Sign-In with your Berkeley Account!");
		}
	}

	function handleLocationError(browserHasGeolocation) {
		alert(browserHasGeolocation);
	}

	function onSignIn(googleUser) {
		var profile = googleUser.getBasicProfile();

		document.getElementById("name").innerText = profile.getName();
		document.getElementById("email").innerText = profile.getEmail();
		document.getElementById("info").classList.remove("hidden_div");

		prof_id = googleUser.getAuthResponse().id_token;
		if (profile.getEmail().endsWith("@berkeley.edu")) {
			email_temp = true;
		}
	}

	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
	  		console.log('User signed out.');
			document.getElementById("info").classList.add("hidden_div");
			prof_id = null;
			email_temp = false;
		});

	}

</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8ICIIQpZeAaablY62VWZg-poyOX4ytJQ">
</script>
