<title>Lightning Check In!</title>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  /* Optional: Makes the sample page fill the window. */
  /*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
*/
  .center_stuff {
    margin: 0 auto;
    margin-top: 20%;
    width: 20%;
    text-align: center;
  }

  .hidden_div {
  	visibility: hidden;
  }

</style>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<div class="center_stuff">
	<div id="info" class="hidden_div">
		<div id="name"></div>
		<div id="email"></div>
	</div>
	<a href="#" onclick="signOut();">Sign out</a>
    <div id="checkIn">Not Set</div>
    <input type="button" onclick="findSelf()" value="Find Location" />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="22643870492-3k4q6eqkdunpp447em29su6e7b7te235.apps.googleusercontent.com">
<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.

  	var prof_id = null;

	function findSelf() {
		if (prof_id != null) {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
				    var pos = {
				      lat: position.coords.latitude,
				      lng: position.coords.longitude
				    };
		
				    // Change this when you figure out where to send the position.
				    // document.getElementById('checkIn').innerText = pos.lat + "\n" + pos.lng;
		
				    var xhr = new XMLHttpRequest();
				    xhr.open('GET', "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + pos.lat + "," + pos.lng + "&key=AIzaSyBljiCLSI42QdZibI2_ykXHHLsP3e5oE74", true);
				    xhr.send();

				    xhr.onreadystatechange = processRequest;
				     
				    function processRequest(e) {
				    	if (xhr.status == 200) {
					        var response = JSON.parse(xhr.responseText);
					        var loc = response["results"][0]["formatted_address"];
					        document.getElementById('checkIn').innerText = loc;
			
					        data = {
					        	'location': loc,
					        	'idtoken': prof_id
					        }
			
					  //       $.ajax({
							//     type : "POST",
							//     url : "../checkin",
							//     data: JSON.stringify(data, null, '\t'),
							//     contentType: 'application/json;charset=UTF-8',
							//     success: function(result) {
							//         document.getElementById("checkIn").innerText = "Sent " + loc;
							//         console.log("Sent!");
							//     },
							//     complete: function(response) {
							//     	console.log(response.responseText);
							//     }
							// });
				    	}
				    }
				}, function() {
				    handleLocationError(true);
				});
			} else {
			  handleLocationError(false);
			}
		}
	}

	function handleLocationError(browserHasGeolocation) {
		alert(browserHasGeolocation);
	}

	function onSignIn(googleUser) {
		var profile = googleUser.getBasicProfile();
		// console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		// console.log('Name: ' + profile.getName());
		// console.log('Image URL: ' + profile.getImageUrl());
		// console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

		document.getElementById("name").innerText = profile.getName();
		document.getElementById("email").innerText = profile.getEmail();
		document.getElementById("info").classList.remove("hidden_div");

		prof_id = googleUser.getAuthResponse().id_token;
	}

	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
	  		console.log('User signed out.');
			document.getElementById("info").classList.add("hidden_div");
			prof_id = null;
		});

	}

</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8ICIIQpZeAaablY62VWZg-poyOX4ytJQ&callback=initMap">
</script>
