<title>Week {{ str(number) }}</title>
<style>
  .center_stuff {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
  }

  .hidden_div {
  	visibility: hidden;
  }

  .element {
  	margin: 0 auto;
  	margin-top: 10px;
  }

  td {
    padding: 5px;
    border-right: 1px darkgray solid;
    font-family: Arial, Helvetica, sans-serif;
  }

</style>
<h2 class="center_stuff">Here</h2>
<table class="center_stuff">
  {% for u in here %}
  <tr>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
  </tr>
  {% endfor %}
</table>
<h2 class="center_stuff">Absent</h2>
<table class="center_stuff">
  {% for u in absent %}
  <tr>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
  </tr>
  {% endfor %}
</table>