<title>Week {{ week }}</title>
<meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  html {
    font-family: Arial, Helvetica, sans-serif;
  }

  .center_stuff {
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
  }

  .hidden_div {
  	display: none;
  }

  .element {
  	margin: 0 auto;
  	margin-top: 10px;
  }

  td {
    padding: 5px;
    border-right: 1px darkgray solid;
    font-family: Arial, Helvetica, sans-serif;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="22643870492-3k4q6eqkdunpp447em29su6e7b7te235.apps.googleusercontent.com">
<div>
{% if week != "0" %}
  <a href="../week-{{ pweek }}" style="position: absolute; left: 2%; top: 2%;">Week {{ pweek }}</a>
{% endif %}
  <a href="../week-{{ nweek }}" style="position: absolute; right: 2%; top: 2%;">Week {{ nweek }}</a>
</div>
<div class="center_stuff">
  <h1>Week {{ week }}</h1>
  <div class="g-signin2" data-onsuccess="onSignIn" style="width: 120px; margin: 0 auto;"></div>
  <div id="signOut" class="element abcRioButton abcRioButtonLightBlue hidden div" style="height:36px;width:120px;" onclick="signOut();">
      <span href="#" style="font-size:13px;line-height:34px;" onclick="signOut();" class="abcRioButtonContentWrapper">Sign out</span>
  </div>
  <div class="hidden_div" id="instructor">
    <h2 class="element" style="margin-top: 5%;">Instructor Check In's</h2>
  </div>
  <h2 class="element" style="margin-top: 5%;">Here</h2>
  <table class="element">
    {% for u in here %}
    <tr>
      <td>{{ u[1] }}</td>
      <td>{{ u[2] }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2 class="element" style="margin-top: 5%;">Absent</h2>
  <table class="element">
    {% for u in absent %}
    <tr>
      <td>{{ u[1] }}</td>
      <td>{{ u[2] }}</td>
      <td><a href="#" onclick="here('{{ u[2] }}');">Mark as Here</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
<script>
  var prof_id = null;
  var email_temp = false;

  var admin = [
    "jdong@berkeley.edu",
    "surinagulati@berkeley.edu",
    "s.t@berkeley.edu",
    "koladyr@berkeley.edu"
  ];

  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log(profile.getEmail());
    prof_id = googleUser.getAuthResponse().id_token;
    document.getElementById("signOut").classList.remove("hidden_div");
    if (admin.indexOf(profile.getEmail()) >= 0) {
      email_temp = true;

      var data = {
        'idtoken': prof_id,
        'week': {{ week }}
      };

      $.ajax({
        type : "POST",
        url : "../instructor",
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log("Sent!");
        },
        complete: function(response) {
          document.getElementById("instructor").classList.remove("hidden_div");
          var list = response.responseJSON["json_list"];
          console.log(list);

          var tbl=$("<table/>").attr("id","mytable").attr("class", "element");
          $("#instructor").append(tbl);
          for(var i=0;i<list.length;i++)
          {
              var tr="<tr>";
              var td1="<td>"+list[i]["name"]+"</td>";
              var td2="<td>"+list[i]["email"]+"</td>";
              var td3="<td>"+list[i]["time"]+"</td>";
              var td4="<td><a href='#' onclick='remove("+list[i]["id"]+")'>Remove Check In</a></td></tr>";

             $("#mytable").append(tr+td1+td2+td3+td4); 

          } 
        }
      });
    }
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
        console.log('User signed out.');
        document.getElementById("signOut").classList.add("hidden_div");
        document.getElementById("instructor").classList.add("hidden_div");
      prof_id = null;
      email_temp = false;
    });

  }

  function here(email) {
    if (email_temp) {
      var data = {
        'email': email,
        'week': {{ week }},
        'idtoken': prof_id
      };

      $.ajax({
        type : "POST",
        url : "../markhere",
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log("Sent " + email + "!");
        },
        complete: function(response) {
          console.log(response.responseText);
          location.reload();
        }
      });
    } else {
      alert("Only Instructors can mark as Here!");
    }
  }

  function remove(id) {
    if (email_temp) {
      var data = {
        'id': id,
        'idtoken': prof_id
      };

      $.ajax({
        type : "POST",
        url : "../remove",
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log("Removed!");
        },
        complete: function(response) {
          console.log(response.responseText);
          location.reload();
        }
      });
    } else {
      alert("Only Instructors can mark as Here!");
    }
  }

</script>

